.background {
    background: black;
    width: 69.8vh;
    height: 100vh;
    position: relative;

    .main-frame {
        position: relative;
        height: 100%;
        width: auto;
        background-image: url("../../public/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .nest {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .ui {
            position: absolute;
            top: 0;
            height: 100vh;
            width: 100%;
        }

        .header {
            z-index: 1;
            display: flex;
            justify-content: space-between;
            padding: 2vh 2vw 0 2vw;
            height: 10%;
        }

        .body {
            padding-left: 2vw;

            .aside {
                margin-top: 5vh;
                width: 10%;
            }
        }


        .icon-img {
            height: 100%;
            width: 100%;
        }
    }
}