.config-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .icon-config {
        width: 20%;
        min-width: 8vh;
    }

    .img-choice {
        width: 70%;
    }

    .icon-ok {
        width: 35%;
        margin-bottom: 5%;
    }
}