.gal-modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .icon-tujian {
        justify-self: start;
        width: 20%;
        min-width: 8vh;
    }

    .gallery-line {
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-top: 3%;

        .icon-base {
            width: 40%;
            position: relative;


            .icon-inner-back {
                width: 100%;
            }

            .icon-bird {
                position: absolute;
                left: 10%;
                bottom: 20%;
                width: 80%;
            }
        }
    }

    .arrow-line {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        gap: 10%;
        font-size: 3vh;
        .icon-arrow {
            width: 15%;
        }
    }
}